
html { color : brown; font-family:"Jacquard12-Regular"; background: #2283c3;
background: -webkit-linear-gradient(0deg, rgba(34, 131, 195, 1) 0%, rgba(65, 224, 131, 1) 48%, rgba(253, 253, 45, 1) 100%);
background: -moz-linear-gradient(0deg, rgba(34, 131, 195, 1) 0%, rgba(65, 224, 131, 1) 48%, rgba(253, 253, 45, 1) 100%);
background: linear-gradient(0deg, rgba(34, 131, 195, 1) 0%, rgba(65, 224, 131, 1) 48%, rgba(253, 253, 45, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2283C3", endColorstr="#FDFD2D", GradientType=0); }
h2 {font-size: small;}

h1{font-size:xxx-large;}

h1,
h2,
p,
h3,
ol{text-align: center; }


.highlight_01 {background-color: blanchedalmond;}

.highlight_02 {background-color: lemonchiffon;}

.test-div{background-color: bisque; border: 40; padding: 30;}

.my-flex{display: flex}