@font-face {
  font-family: Henn;
   src: url(HennyPenny-Regular.ttf);
}

body { background-image: radial-gradient( circle 490.7px at 3.1% 21.8%,  rgba(82,6,135,1) 0%, rgba(22,1,34,1) 100.3% );
    
color:dodgerblue;
    
    font-family: Henn;
   
    font-weight: 500;
}

h2,
p,
u,
ul {
    color:DarkBlue;
    font-family: CrimsonText-Regular;
    font-weight: 500;
}
ol{color:DarkBlue}

img {
    width: 200px;
}

#page {
    max-width: 900px;
    margin: 0 auto 0 auto;
    padding: 30px;
}

.top-section {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 0 25px 0;
}

#introduction {
    background: azure;
    padding: 20px;
    border-left: 6px groove dodgerblue;
    flex: 1;
    border-radius: 12px;
}

#introduction h2 {
    font-style: italic;
    margin-top: 0;
}

#introduction p {
    font-size: 120%;
    line-height: 1.5;
}

.profile {
    text-align: center;
    flex: 2;
     background-color: azure;
     border-radius: 12px;
     border-bottom:6px groove dodgerblue;

}

.profile img {
    width: 220px;
    border-radius: 12px;
   
}

.profile p {
    font-size: 90%;
}

.navigation {
    background: azure;
    padding: 20px;
    border-radius: 12px;
    border-right: 6px groove dodgerblue;
}

.navigation h2 {
    margin-top: 0;
}

.navigation li {
    margin-bottom: 8px;
}

.navigation a {
    color: #0818A8;
    font-weight: bold;
}

.envi {
    background: azure;
    padding: 20px;
    border-radius: 12px;
    border-top: 6px groove dodgerblue;
}

.envi h2 {
    margin-top: 0;
}

.envi li {
    margin-bottom: 8px;
}

.envi a {
    color: #0818A8;
    font-weight: bold;
}