@font-face {
  font-family: Henn;
   src: url(HennyPenny-Regular.ttf);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 50%;
  height: 25vh;
  min-height: 200px;
  min-width: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  float: center;
  display: grid;
}

.sidebar2 {
  width: 50%;
  height: 25vh;
  min-height: 200px;
  min-width: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: -50%;
  float:center;
}

body { background-image: url("star.jpg");

    color: dodgerblue;
    
    font-family: Henn;
   
    font-weight: 500;
    float: center;
    
}

h2,
p,
u,
ul {
    color:DarkBlue;
    font-family: CrimsonText-Regular;
    font-weight: 500;
}
ol{color:DarkBlue}

img {
    width: 200px;
}

#page {
    max-width: 900px;
    margin: 0 auto 0 auto;
    padding: 30px;
    
}

.top-section {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 0 25px 0;
    float: center;
}

#introduction {
    background: azure;
    padding: 20px;
    border-left: 6px groove dodgerblue;
    flex: 1;
    border-radius: 12px;
    
}

#introduction h2 {
    font-style: italic;
    margin-top: 0;
}

#introduction p {
    font-size: 120%;
    line-height: 1.5;
}

.profile {
    text-align: center;
    flex: 2;
    display:inline-block;
     background-color: azure;
     border-radius: 12px;
     border-bottom:6px groove dodgerblue;
     display: flexbox;
    
;

}

.profile img {
    width: 220px;
    border-radius: 12px;
    display:inline-block;
   
}

.profile p {
    font-size: 90%;
    display:inline-block;
}

.navigation {
    background: azure;
    padding: 50px;
    border-radius: 12px;
    border-right: 6px groove dodgerblue;
    display:inline-block;
    position: -webkit-sticky;
    position: sticky;
    flex-direction: row;
}

.navigation h2 {
    margin-top: 0;
    display:inline-block;
}

.navigation li {
    margin-bottom: 8px;
    display:inline-block;
}

.navigation a {
    color: #0818A8;
    font-weight: bold;
    display:inline-block;
}

.envi {
    background: azure;
    padding: 20px;
    border-radius: 12px;
    border-top: 6px groove dodgerblue;
    display:inline-block;
    position: -webkit-sticky;
    position: sticky;
   flex-direction: row;
}

.envi h2 {
    margin-top: 0;
    flex: 2;
    display:inline-block;
}

.envi li {
    margin-bottom: 8px;
    flex: 2;
    display:inline-block;
}

.envi a {
    flex: 2;
    color: #0818A8;
    font-weight: bold;
    display:inline-block;
}