body {
  background-image: url("trees.png");
  background-size: 1000px 800px;
}

h1,
h2,
h3,
p {
    color: beige; text-align: center; font-family: CrimsonText-Regular;
}

img {
  display: block;
  margin: auto;
}

.border {border: 5px ridge antiquewhite; position: relative;}

.test {
    background: color();
    margin: 30px;
    padding: 50px;
}

.containment{ width: 250px; padding-right: 10px; position: relative;

}

.example{color: black; background-color: whitesmoke; border: 2px solid gray;
  border-radius: 2px;
  padding: 25px; margin: 25px; font-size: 25px;
  width: 170px;}

.my-flex { display: flex;  flex-direction:inherit;
  justify-content: center;}

.grid-container{gap: 50px; padding-left: 50px; align-items: center;  margin: auto; align-items: center; }

.jeff {
  background-color: khaki; border-style: ridge; border-color: ghostwhite; border-bottom: 10px; font-family: CrimsonText-Regular; 
font-size: 24px; display: flex;
  justify-content: center;
}

.riddlemaster {color: white; font-style: bold; font-style: italic; display: flex;
  justify-content: center;}